@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s, transform 0.3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateX(40%);
}
